table {
    width:100%;
}
table, th, td {
    border-collapse: collapse;

}
th, td {
    padding: 5px;
    text-align:left;
}
th{
    height:50px;
}

td#isi{
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #b4b4b4;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th    {
    background-color: black;
    color: white;
}

.data-search {
    text-decoration: none;
    color: black;
}

.data-search:hover {
    cursor: pointer;
    color: #4F4A4A;
}